/* MOBILE FIRST */
/* COMMONS */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  height: 100px;
}

.row{
  padding: 20px 0;
}
/* /COMMONS */


/* BLOCCO LEZIONI */
#lezioni{
  background-color: #f2f2cd;
  text-align: center;
}

#lezioni .row>.left,
#lezioni .row>.right {
  width: 90%;
  margin: 10px auto;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* /BLOCCO LEZIONI */


/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  width: 90%;
  margin: 10px auto;
}

#steps {
  text-align: center;
}
/* /BLOCCO STEPS */


/* BLOCCO PERCHE */
#why {
  background-color: #f2f2cd;
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 95%;
  margin: 10px auto;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
/* /BLOCCO PERCHE */
/* /MOBILE FIRST */



/* MEDIA QUERY: IF SCREEN SIZE > 420px */
@media screen and (min-width: 420px){

  /* COMMONS */
  .row::after {
    content: '';
    display: table;
    clear: both;
  }
  /* /COMMONS */
  
  /* BLOCCO LEZIONI */
  #lezioni{
    background-color: lightpink;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 50%;
    float: left;
  }
  /* /BLOCCO LEZIONI */

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 33%;
  }
  /* /BLOCCO STEPS */

  /* BLOCCO PERCHE */
  #why {
    background-color: lightpink;
  }
  /* BLOCCO PERCHE */
}
/* /MEDIA QUERY */



/* MEDIA QUERY: IF SCREEN SIZE > 1020px */
@media screen and (min-width: 1020px) {
  /* COMMONS */
  .row {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
  }

  .row::after {
    content: '';
    display: table;
    clear: both;
  }

  .container.grey {
    background-color: #f9f9f9;
  }

  img {
    height: 200px;
  }
  /* /COMMONS */

  /* BLOCCO LEZIONI */
  #lezioni{
    background-color: white;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 50%;
    float: left;
  }
  /* /BLOCCO LEZIONI */

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
  float: left;
  width: 33%;
  }
  /* /BLOCCO STEPS */

  /* BLOCCO PERCHE */
  #why {
    background-color: #f9f9f9;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    margin-top: 80px;
  }
  /* /BLOCCO PERCHE */
}
/* /MEDIA QUERY */